/* CSS RESET */

body {
	margin: 0 auto;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background: #f0f0f0;
}

h1 {
	font-size: 3em;
	line-height: 3.2em;
	text-align:center;
}

.a_without_hover_decoration:hover {
	text-decoration: none;
}
