/* CSS RESET */

* {
	margin: 10px;
	padding: 10px;
}

body {
	margin: 10px;
	width: 1270px;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background: white;
}

h1 {
	font-size: 3em;
	line-height: 3.2em;
	text-align:center;
}

table{
	border-spacing: 5px;
	border: 2px solid black;
	border-collapse: collapse;
	width: 60%;
}
th{
	border: 2px solid black;
	border-collapse: collapse;
}
td{
	border-left: 2px solid black;
	border-collapse: collapse;
}
.koch{
	border-bottom: 2px solid white;
	width: 20%;
}

.add{
	float: right;
}



