<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <div th:replace="fragments/head :: styles"></div>
  <div th:replace="fragments/head :: scripts"></div>
  <div th:replace="fragments/head :: meta('Warenkorb')"></div>
</head>

<body>
  <nav th:include="navigation-new :: navigation"></nav>

  <div class="m-content">
    <section class="m-colored-primary">
      <div class="m-container m-centered">
        <div class="m-heading m-no-border">
          Kasse
        </div>
      </div>
    </section>
    <form method="post" role="form" id="form" th:action="@{/checkout}" th:object="${form}">
      <div class="alert alert-danger alert-dismissible fade show" role="alert"
        th:if="${#fields.hasErrors('generalError')}">
        <strong>Bestellvorgang abgebrochen</strong>
        <span th:errors="*{generalError}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${#fields.hasErrors()}">
        <strong>Bestellvorgang abgebrochen</strong>
        <span th:errors="*{allStartDates}"></span>
        <span th:errors="*{allStartTimes}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <input type="hidden" name="domainChoosen" th:value="${domainChoosen}" />
      <section>
        <div class="m-padding-bottom m-card-section">
          <div class="m-container-small">
            <h2 class="m-padding-bottom">Zahlungsart wählen</h2>
            <div class="m-flex">
              <div class="m-flex-50 shadow">
                <input hidden id="barChecked" class="m-radio-input" type="radio" name="payMethod" value="Bar"
                  checked="checked" />
                <label for="barChecked" class="m-radio-label">Bar</label>
              </div>
              <div class="m-flex-50 shadow">
                <input hidden id="checkChecked" class="m-radio-input" type="radio" name="payMethod" value="Check" />
                <label for="checkChecked" class="m-radio-label">Überweisung</label>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- <section>
        <div class="m-padding-bottom m-card-section">
          <div class="m-container-small">
            <h2 class="m-padding-bottom">Zeitpunkt der Lieferung wählen</h2>
            <div class="m-inline-flex m-flex-column">
              <div>
                <label for="startDate">Datum:</label>
                <input id="startDate" class="form-control"
                  th:classappend="${#fields.hasErrors('startDate')} ? 'is-invalid' : ''" name="startDate" type="date"
                  th:field="*{startDate}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">

                </div>
              </div>
              <div>
                <label for="startTime">Uhrzeit:</label>
                <input id="startTime" class="form-control"
                  th:classappend="${#fields.hasErrors('startTime')} ? 'is-invalid' : ''" name="startDate" type="time"
                  th:min="*{getToday()}" th:field="*{startTime}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <section th:each="domain: ${domains}">
        <div class="m-padding-bottom m-card-section">
          <div class="m-container-small">
            <h2 class="m-padding-bottom" th:text="'Zeitpunkt der Lieferung wählen: ' + ${domain.key}">Zeitpunkt der Lieferung wählen</h2>
            <div class="m-inline-flex m-flex-column">
              <div>
                <div class="form-group mt-2" th:with="hideForm=${form.domainsWithoutForm.contains('__${domain.key}__')}">
                  <!-- <div th:text="${hideForm}"></div> -->
                  <input type="hidden" th:name="${domain.key}" th:value="${domain.key}">
                  <label for="startDate1" th:unless="${hideForm}">Datum:</label>
                  <input id="startDate1" class="form-control"
                    th:classappend="${#fields.hasErrors('allStartDates['+domain.key+']')} ? 'is-invalid' : ''"
                    th:type="${hideForm}? 'hidden' : 'date'" th:name="${'allStartDates['+domain.key+']'}"
                    th:value="${form.getStartDate(domain.key)?.toString()}" />
                  <div class="invalid-feedback" th:if="${#fields.hasErrors('allStartDates['+domain.key+']')}"
                    th:errors="*{allStartDates[__${domain.key}__]}">
                  </div>
                  <label for="startTime" th:unless="${hideForm}">Uhrzeit:</label>
                  <input id="startTime" class="form-control" th:if="${#maps.containsKey(form.allStartTimes, domain.key)}"
                    th:classappend="${#fields.hasErrors('allStartTimes['+domain.key+']')} ? 'is-invalid' : ''"
                    th:type="${hideForm}? 'hidden' : 'time'" th:field="*{allStartTimes[__${domain.key}__]}" />
                  <input id="startTime2" class="form-control" th:unless="${#maps.containsKey(form.allStartTimes, domain.key)}"
                    th:classappend="${#fields.hasErrors('allStartTimes['+domain.key+']')} ? 'is-invalid' : ''"
                    th:type="${hideForm}? 'hidden' : 'time'" th:name="${'allStartTimes['+ domain.key + ']'}"
                    th:value="${form.getTimeNow()}" />
                  <div class="invalid-feedback" th:if="${#fields.hasErrors('allStartTimes['+domain.key+']')}"
                    th:errors="*{allStartTimes[__${domain.key}__]}">
                  </div>
                </div>
              </div>
              <div>
                <div class="form-group mt-2">
                  <div th:each="err : ${validations.get('__${domain.key}__')}">
                    <div th:text="${err}" class="alert alert-danger alert-dismissible fade show" role="alert"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="m-padding-bottom m-card-section">
          <div class="m-container-small">
            <h2 class="m-padding-bottom" th:text="${domain.key}"></h2>
            <div>
              <th:block th:each="item : ${domain.value}">
                <div
                  th:replace="fragments/cards::pay(${item.productName}, ${item.quantity.getAmount()}, ${item.price})">
                </div>
              </th:block>
            </div>
            <div class="m-devider"></div>
            <div class="m-cart__row m-flex-flex-end">
              <div class="m-cart__sum-label">Summe: </div>
              <div class="m-cart__sum" th:text="${domain.value.price}"></div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="m-padding-bottom m-card-section">
          <div class="m-container-small">
            <h2 class="m-padding-bottom">Gesamtpreis</h2>
            <div class="m-cart__overview m-cart__row m-flex-space-between">
              <div class="m-cart__overview-total-label">Der Gesamtwert ihres Warenkorbs beträgt:</div>
              <div class="m-cart__overview-total m-cart__sum" th:text="${total}"></div>
            </div>
            <div sec:authorize="!hasRole('BOSS')" class="m-cart__row m-flex-flex-end m-children-padding-left">
              <button class="btn btn-primary" type="submit">Jetzt zahlungspflichtig bestellen</button>
            </div>
          </div>
        </div>
      </section>
    </form>
  </div>

  <form method="post" role="form" id="form" th:action="@{/checkout}" th:object="${form}">
    <div class="alert alert-danger alert-dismissible fade show" role="alert"
      th:if="${#fields.hasErrors('generalError')}">
      <strong>Bestellvorgang abgebrochen</strong>
      <span th:errors="*{generalError}"></span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <!-- <div class="container" th:each="domain : ${domains}">
    <div class="row">
      <br>
      <h3 th:text="${domain.key}"></h3>
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th>Titel</th>
            <th>Anzahl</th>
            <th>Preis</th>
          </tr>
        </thead>
        <tbody th:remove="all-but-first">
          <div th:with="cart=${domain.value}">
            <tr th:each="item : ${domain.value} ">
              <td th:text="${item.productName}"></td>
              <td th:text="${item.quantity.getAmount()}"></td>
              <td th:text="${{item.price}}"></td>
            </tr>
          </div>
        </tbody>
      </table>
    </div>
    <div class="row mt-3">
      <span th:text="${'Preis für '+ domain.key + ':  ' + total}"></span>
    </div>
  </div>
  <div class="container">

    <div class="row mt-3">
      <b th:text="${'Gesamtpreis: ' + total}"></b>
    </div>
    <div class="row mt-2">
      <form method="post" class="pb-2" style="position: relative; left: -3px" th:action="@{/cart/clear}">
        <button class="btn btn-outline-primary" style="top: 20px" type="submit">Warenkorb leeren</button>
      </form>
    </div>
    <div class="row mt-3">
      <h4>Bestellung abschließen</h4>
    </div>
    <div class="row mt-3">
      <form method="post" role="form" id="form" th:action="@{/checkout}" th:object="${form}">
        <div class="alert alert-danger alert-dismissible fade show" role="alert"
          th:if="${#fields.hasErrors('generalError')}">
          <strong>Bestellvorgang abgebrochen</strong>
          <span th:errors="*{generalError}"></span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="invalid-feedback">

        </div>
        <input type="hidden" name="domainChoosen" th:value="${domainChoosen}" />
        <div class="form-check form-check-inline">
          <input id="barChecked" class="form-check-input" type="radio" name="payMethod" value="Bar" checked="checked" />
          <label for="barChecked" class="form-check-label">Bar</label>
        </div>
        <div class="form-check form-check-inline">
          <input id="checkChecked" class="form-check-input" type="radio" name="payMethod" value="Check" />
          <label for="checkChecked" class="form-check-label">Überweisung</label>
        </div>
        <div class="form-group mt-2">
          <label for="startDate">Datum:</label>
          <input id="startDate" class="form-control"
            th:classappend="${#fields.hasErrors('startDate')} ? 'is-invalid' : ''" name="startDate" type="date"
            th:field="*{startDate}" />
          <div class="invalid-feedback" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">

          </div>
        </div>
        <div class="form-group mt-2">
          <label for="startTime">Uhrzeit:</label>
          <input id="startTime" class="form-control"
            th:classappend="${#fields.hasErrors('startTime')} ? 'is-invalid' : ''" name="startDate" type="time"
            th:min="*{getToday()}" th:field="*{startTime}" />
          <div class="invalid-feedback" th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}">

          </div>
        </div>
        <button type="submit" class="btn btn-outline-primary">Bestellung erstellen</button>
      </form>

    </div>

  </div>
  </div> -->
</body>

</html>