<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <div th:replace="fragments/head :: styles"></div>
  <div th:replace="fragments/head :: scripts"></div>
  <div th:replace="fragments/head :: meta('Einkaufswagen')"></div>
</head>

<body>
  <nav th:include="navigation-new :: navigation"></nav>

  <div class="m-content">
    <section class="m-colored-primary">
      <div class="m-container m-centered">
        <div class="m-heading m-no-border">
          Warenkorb
        </div>
      </div>
    </section>
    <section class="m-colored-primary">
      <div class="m-container-small m-content m-padding-bottom">
        <div class="m-cart__overview m-cart__row m-flex-space-between m-children-padding-left">
          <div class="m-cart__overview-total-label">Der Wert ihres gesamten Warenkorbs beträgt:</div>
          <div class="m-cart__overview-total" th:text="${total}"></div>
        </div>
        <div class="m-cart__row m-flex-flex-end m-children-padding-left">
          <form method="post" th:action="@{/cart/clear}" class="">
            <button class="btn btn-secondary" th:if="${!domains.isEmpty()}" type="submit">Warenkorb leeren</button>
          </form>
          <form sec:authorize="!hasRole('BOSS')" method="get" th:action="@{/pay/_}" class="">
            <button class="btn btn-outline-light" th:if="!${domains.isEmpty()}" type="submit">Alles kaufen</button>
          </form>
        </div>
      </div>
    </section>
    <section>
      <div th:each="domain: ${domains}" class="m-padding-bottom m-card-section">
        <div class="m-container-small">
          <h2 class="m-padding-bottom" th:text="${T(mampf.Util).renderDomainName('__${domain.key}__')}"></h2>
          <div>
            <th:block th:each="item : ${domain.value}">
              <div th:unless="${hideForm}" 
              th:replace="fragments/cards::cart(${item.productName}, ${item.quantity.getAmount()}, ${item.price}, ${T(mampf.order.CheckoutForm).domainsWithoutForm.contains('__${domain.key}__')})">
              </div>
            </th:block>
          </div>
          <div class="m-devider"></div>
          <div class="m-cart__row m-flex-flex-end">
            <div class="m-cart__sum-label">Summe: </div>
            <div class="m-cart__sum" th:text="${domain.value.price}"></div>
          </div>
          <div sec:authorize="!hasRole('BOSS')" class="m-cart__row m-flex-flex-end m-cart__action-section">
            <form method="get" th:action="@{/pay/{domain}(domain=${domain.key})}">
              <button class="btn btn-primary" type="submit">Zur Kasse</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
</body>

</html>
