<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <!-- Bootstrap -->
    <!-- CSS -->
    <link rel="icon" type="image/vnd.microsoft.icon" th:href="@{/resources/img/World_sm_or.ico}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <script th:src="@{/webjars/jquery/jquery.min.js}" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
    <!-- Bootstrap -->
    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <title>Warenkorb</title>
</head>
<body>
<nav th:include="navigation :: navigation"></nav>
<div class="container">
<h1>Warenkorb</h1>
<div>
    <br>


    <div th:each="domain : ${domains}">
    	<h1 th:text="${domain.key}"></h1>
    	
    	<table class="table">
            <thead>
            <tr>
                <th>Titel</th>
                <th>Anzahl</th>
                <th>Preis</th>
                <th></th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first">

            <tr th:each="item : ${domain.value} ">
                <td th:text="${item.productName}">Last Action Hero</td>
                <td>
                    <form class="form-inline" method="post" th:action="@{/cart/setNewAmount}">

                        <div class="input-group mb-3">
                            <input type="hidden" name="cartitemId" th:value="${item.id}"/>
                            <input class="form-control" type="number" name="newAmount" th:value="${item.quantity.getAmount()}">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-repeat" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                                        <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                                    </svg>
                                </button>
                            </div>

                        </div>
                    </form>
                </td><!--  <form method="post" th:action="@{/cart}">
                <input type="hidden" name="cartitemId" value="0" th:value="${item.id}"/>
                 <button type="submit">+</button>
                 </form>-->
                <td th:text="${{item.price}}">10 Euro</td>
                <td>
                    <form class="form-inline" method="post" th:action="@{/cart/setNewAmount}">

                        <div class="input-group mb-3">
                            <input type="hidden" name="cartitemId" th:value="${item.id}"/>
                            <input class="form-control" type="hidden" name="newAmount" value="0">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">Entfernen</button>
                            </div>

                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <!--  <table class="ui celled table"><thead><tr><th>Titel</th><th>Anzahl</th><th>Preis</th><th></th></tr></thead><tbody>
            <tr th:each="item : ${domain.value} ">
                <td th:text="${item.productName}">Last Action Hero</td>
                <td > <table><tr><td><div th:text="${item.quantity}">10</div></td>
                <td><form method="post" action="/cart/add">
			      <input type="hidden" name="cartitemId" th:value="${item.id}"/>
			       
			      <input type="hidden" name="amount" value="1" placeholder="Anzahl">
			      <button type="submit" name="add" value="true">+</button> 
			      <button type="submit" name="add" value="false">-</button></form>
			    </td><!--  <form method="post" th:action="@{/cart}">
                <input type="hidden" name="cartitemId" value="0" th:value="${item.id}"/>
                 <button type="submit">+</button>
                 </form></tr></table> </td>
                <td th:text="${{item.price}}">10 Euro</td><td>
                <form method="post" th:action="@{/cart/remove}">
                <input type="hidden" name="cartitemId" th:value="${item.id}"/>
			    <button type="submit">entfernen</button>
			    </form>  </td>
            </tr>
          </tbody></table>-->
          
        <form method="post" th:action="@{/pay}">
            <input type="hidden" name="domain" th:value="${domain.key}"/>
	    	<button type="submit">kaufen</button>
	    </form>
	</div>
	
    <div class="ui two column centered grid">
    	<div class="value"><span th:text="${{cart.price}}">1337</span></div>
         <form method="post" th:action="@{/cart/clear}"><button type="submit">Warenkorb leeren</button></form>
            <!-- sec:authorize="hasRole('INDIVIDUAL')" -->
		      <form method="post" th:action="@{/pay}"> 
		       <input type="hidden" name="domain" th:value="none"/>
		       <!-- <label><input type="radio" name="payMethod" value="Bar" checked="checked"/>Bar</label><label><input  type="radio" name="payMethod"  value="Check"/>Check</label>
		 	   <label for="start">Start: </label><input id="start" name="start" type="datetime-local" th:field="*{startDate}" th:errorclass="fieldError" required="required"/>
		       <label for="end">End: </label><input id="end" name="end" type="datetime-local" th:field="*{endDate}" th:errorclass="fieldError" required="required"/>
		       <label for="address">Address: </label><input id="address" name="address" type="text" th:field="*{address}" th:errorclass="fieldError" required="required"/>
		       --><button type="submit" class="ui button">alles kaufen</button>
              </form>
   	</div>
    
<!--  
    <div th:if="${cart.empty}">

    </div>

    <div th:unless="${cart.empty}">
        

        <div class="ui two column centered grid">
            <div class="four column centered row">
                <div class="column">
                    <div class="ui horizontal statistic">
                        <div class="label">Summe</div>
                        <div class="value"><span th:text="${{cart.price}}">1337</span></div>
                    </div>
                </div>
                <form method="post" th:action="@{/cart/clear}"><button type="submit">Warenkorb leeren</button></form>
                <div class="column">
                    <form sec:authorize="hasRole('INDIVIDUAL')" method="post" role="form" class="ui form" id="form" th:action="@{/checkout}" th:object="${form}">
		                 
			               	<label  >
							   <input type="radio" name="payMethod" value="Bar" checked="checked"/>Bar
							 </label>
							 <label  >
							   <input  type="radio" name="payMethod"  value="Check"/>Check
							 </label>
				        <label for="start">Start: </label><input id="start" name="start" type="datetime-local" th:field="*{startDate}" th:errorclass="fieldError" required="required"/>
				        <label for="end">End: </label><input id="end" name="end" type="datetime-local" th:field="*{endDate}" th:errorclass="fieldError" required="required"/>
				        <label for="address">Address: </label><input id="address" name="address" type="text" th:field="*{address}" th:errorclass="fieldError" required="required"/>
				        
				        <button type="submit" class="ui button" th:text="#{cart.buy}">Kaufen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>-->


<!-- 

    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th>Link</th>
            <th>Name</th>
            <th>Anzahl</th>
            <th>Preis</th>
        </tr>
        </thead>
        <tbody th:remove="all-but-first">
        <tr th:each=" item : ${cart}">
            <td>
                <a class="nav-link form-inline" th:href="@{/catalog/{domain}(domain=${item.getProduct().getDomain()})}">
                    <button type="submit" class="btn btn-link">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        </svg>
                        <span th:text="${item.getProductName()}"></span>
                    </button>
                </a>
            </td>
            <td th:text="${item.getQuantity()}">aabbcc</td>
            <td th:text="${item.getPrice()}" >--</td>
            <td>
                <form class="form-inline" method="post" th:action="@{/checkout}">
                    <input type="hidden" name="dateid" value="0" th:value="${item.getId()}"/>
                    <button class="btn btn-primary" type="submit">Event kaufen</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- <a th:href="@{/checkout/{dateid}(dateid=${event.key.id})}"> Event kaufen </a>
    
</div>

<div class="d-flex">
    <form class="form-inline" method="post" th:action="@{/clear}">
        <button class="btn btn-outline-primary" type="submit">Warenkorb leeren</button>
    </form>
    <form class="justify-content-between ml-auto form-inline" method="post" th:action="@{/checkoutAll}">
        <!-- <input type="hidden" name="dateid" value="0" th:value="null"/>
        <button class="btn btn-outline-primary" type="submit">Warenkorb kaufen</button>
    </form>
 -->
</div>

</div>
</body>
</html>