<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
    src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" type="text/css" />
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />

    <title>Warenkorb</title>
</head>
<body>
<div class="ui container">
    <header>
        <h1>Warenkorb</h1>
    </header>

    <div th:unless="${cart.empty}">
        <table class="ui celled table">
            <thead>
            <tr>
                <th>Titel</th>
                <th>Anzahl</th>
                <th>Preis</th>
                <th></th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first">

            <tr th:each="item : ${cart} ">
                <td th:text="${item.productName}">Last Action Hero</td>
                <td > <table><tr>
                	<td><div th:text="${item.quantity}">10</div></td>
                  <td><form method="post" action="/cart/add">
			      
			      <input type="hidden" name="cartitemId" th:value="${item.id}"/>
			      <!-- Falls benötigt: 
			      <input type="number" name="amount" value="1" placeholder="Anzahl">
			      -->
			        
			      <input type="hidden" name="amount" value="1" placeholder="Anzahl">
			      
			      <button type="submit" name="add" value="true">+</button> <!--  TODO: find better solution (negativ amount) -->
			      <button type="submit" name="add" value="false">-</button>
			        
			      </form></td><!--  <form method="post" th:action="@{/cart}">
                <input type="hidden" name="cartitemId" value="0" th:value="${item.id}"/>
                 <button type="submit">+</button>
                 </form>--></tr></table> </td>
                <td th:text="${{item.price}}">10 Euro</td><td>
                <form method="post" th:action="@{/cart/remove}">
                <input type="hidden" name="cartitemId" th:value="${item.id}"/>
			    <button type="submit">entfernen</button>
			    </form>  </td>
            </tr>
            <tr>
                <td>Last Action Hero</td>
                <td>10</td>
                <td>10 Euro</td>
            </tr>
            <tr>
                <td>Last Action Hero</td>
                <td>10</td>
                <td>10 Euro</td>
            </tr>
            <tr>
                <td>Last Action Hero</td>
                <td>10</td>
                <td>10 Euro</td>
            </tr>
            </tbody>
        </table>

        <div class="ui two column centered grid">
            <div class="four column centered row">
                <div class="column">
                    <div class="ui horizontal statistic">
                        <div class="label">Summe</div>
                        <div class="value"><span th:text="${{cart.price}}">1337</span></div>
                    </div>
                </div>
                <form method="post" th:action="@{/cart/clear}"><button type="submit">Warenkorb leeren</button></form>
                <div class="column">
                    <form sec:authorize="hasRole('INDIVIDUAL')" method="post" role="form" class="ui form" id="form" th:action="@{/checkout}" th:object="${form}">
		                 
			               	<label  >
							   <input type="radio" name="payMethod" value="Bar" checked="checked"/>Bar
							 </label>
							 <label  >
							   <input  type="radio" name="payMethod"  value="Check"/>Check
							 </label>
				        <label for="start">Start: </label><input id="start" name="start" type="datetime-local" th:field="*{startDate}" th:errorclass="fieldError" required="required"/>
				        <label for="end">End: </label><input id="end" name="end" type="datetime-local" th:field="*{endDate}" th:errorclass="fieldError" required="required"/>
				        <label for="address">Address: </label><input id="address" name="address" type="text" th:field="*{address}" th:errorclass="fieldError" required="required"/>
				        
				        <button type="submit" class="ui button" th:text="#{cart.buy}">Kaufen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <h2 th:if="${cart.empty}">Leer</h2>
</div>

</body>
</html>