<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

  <link href="http://fonts.cdnfonts.com/css/aquiline" rel="stylesheet">

  <script th:src="@{/webjars/jquery/jquery.min.js}" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="icon" type="image/vnd.microsoft.icon" th:href="@{/resources/img/World_sm_or.ico}">
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />

  <!-- Bootstrap -->
  <!-- CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <!-- Bootstrap -->
  <!-- jQuery and JS bundle w/ Popper.js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/resources/css/design.css}">
  <title th:text="${headline}">Catalog</title>
</head>

<body>
  <nav th:include="navigation-new :: navigation"></nav>
  <div class="m-content">
    <section class="m-section-padding">
      <div class="m-container m-flex m-flex-align-center">
        <div class="col-9">
          <div class="m-heading m-heading-huge">Unser Angebot</div>
        </div>
        <div class="col-3">
          <div class="m-text m-text-promo">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime officiis optio quis commodi? Fugiat
            consequuntur, magni nam cupiditate veniam atque eveniet, architecto iure odio quasi voluptatem vel sed ut.
            Saepe.
          </div>
        </div>
      </div>
    </section>
    <section class="m-colored-primary">
      <div class="m-container-fluid">
        <div class="row m-no-margin">
          <div class="col m-no-padding">
            <img class="m-image" src="/resources/img/catalog_index/catering.jpg" alt="catering">
          </div>
          <div class="col m-no-padding m-flex-wrap">
            <div class="m-heading m-heading-big m-push-left m-color-white m-align-left">Eventcatering</div>
            <div class="m-text m-text-padding m-text-promo">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime officiis optio quis commodi? Fugiat
              consequuntur, magni nam cupiditate veniam atque eveniet, architecto iure odio quasi voluptatem vel sed ut.
              Saepe.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime officiis optio quis commodi? Fugiat
              consequuntur, magni nam cupiditate veniam atque eveniet, architecto iure odio quasi voluptatem vel sed ut.
              Saepe.
            </div>
            <div class="m-actions">
              <button class="btn m-color-white m-btn-outlined">Jetzt bestellen</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="m-container-fluid">
        <div class="row m-no-margin">
          <div class="col m-no-padding m-flex-wrap">
            <div class="m-heading m-heading-big m-push-left m-align-right">Partyservice</div>
            <div class="m-text m-text-padding m-text-promo">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime officiis optio quis commodi? Fugiat
              consequuntur, magni nam cupiditate veniam atque eveniet, architecto iure odio quasi voluptatem vel sed ut.
              Saepe.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime officiis optio quis commodi? Fugiat
              consequuntur, magni nam cupiditate veniam atque eveniet, architecto iure odio quasi voluptatem vel sed ut.
              Saepe.
            </div>
            <div class="m-actions">
              <button class="btn m-color-black m-btn-outlined">Jetzt bestellen</button>
            </div>
          </div>
          <div class="col m-no-padding">
            <img class="m-image" src="/resources/img/catalog_index/partyservice.jpg" alt="partyservice">
          </div>
        </div>
      </div>
    </section>
    <section class="m-section-padding m-colored-secondary">
      <div class="m-container">
        <div class="row m-no-margin">
          <div class="m-container-header">
            <img class="m-image m-image-size-medium" src="/resources/img/catalog_index/breakfast.jpg" alt="breakfast">
            <div class="m-heading-huge m-heading-odd">Mobile Breakfast</div>
          </div>
          <div class="m-flex-wrap m-flex-row m-flex-odd">
            <div class="m-text m-text-promo m-text-odd">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime officiis optio quis commodi? Fugiat
              consequuntur, magni nam cupiditate veniam atque eveniet, architecto iure odio quasi voluptatem vel sed ut.
              Saepe.
            </div>
            <div class="m-actions m-actions-full-width m-actions-odd">
              <button class="btn m-btn-outlined">Jetzt bestellen</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="m-section-padding">
      <div class="m-container m-centered">
        <div class="row m-no-margin">
          <div class="col m-flex m-no-padding">
            <div class="m-flex-column">
              <div class="m-heading-huge">Rent</div>
              <div class="m-heading-huge">A</div>
              <div class="m-heading-huge">Cook</div>
            </div>
            <img class="m-image m-image-size-medium m-push-right" src="/resources/img/catalog_index/cook.jpg"
              alt="catering">
          </div>
        </div>
        <div class="row m-row-margin">
          <div class="col m-flex m-no-padding">
            <div class="m-text m-text-promo">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime officiis optio quis commodi? Fugiat
              consequuntur, magni nam cupiditate veniam atque eveniet, architecto iure odio quasi voluptatem vel sed ut.
              Saepe.
            </div>
            <div class="m-actions m-actions-full-width">
              <button class="btn m-btn-outlined">Jetzt bestellen</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- <div class="root">
    <h1>Catalog</h1>
    <div class="content">
      <div class="mmpf-tiles-wrapper">
        <a th:each="domain : ${domains}" th:text="${domain.title}" th:href="'/catalog/' + ${domain.href}">Domainname</a>
      </div>
    </div>
  </div> -->
</body>

</html>