<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
		<title>Items</title>
	</head>
	<body>
    <h1>content</h1>
    
    <table>
      <thead>
        <tr>
          <th>name</th>
          <th>price</th>
          <th>description</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="item : ${catalog}">
          <td th:text="${item.name}"></td>
          <td th:text="${item.price}"></td>
          <td th:text="${item.description}"></td>
        </tr>
      </tbody>
    </table>

	</body>
</html>