<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="fragments/head :: styles"></div>
  <div th:replace="fragments/head :: scripts"></div>
  <div th:replace="fragments/head :: meta(${title})"></div>
</head>
<nav th:include="navigation-new :: navigation"></nav>

<body>

  <div class="m-content">
    <div th:replace="fragments/banner.html::item(${item.name}, ${category}, ${domain}, ${item})"></div>
    <div class="m-container-small">
      <!-- <div class="m-content">
        <div class="m-text" th:text="${item.description}"></div>
      </div> -->
      <div class="m-content m-flex m-flex-space-between">
        <div>
          <div class="m-text m-font-color-primary" style="font-size:2rem" th:text="${item.price}"></div>
          <div class="m-text" th:text="${item.description}"></div>
        </div>
        <form method="post" class="form-inline" th:action="@{/cart}">
          <div>
            <input type="hidden" name="pid" th:value="${item.id}" />
            <input type="number" class="m-text form-control" id="mmpf-s-amount" name="number" value="1" placeholder="Anzahl">
          </div>
          <button type="submit" class="m-text btn btn-primary">Zum Warenkorb hinzufügen</button>
        </form>
      </div>
      <div class="m-content"></div>
    </div>
  </div>

  <!-- 
  <div class="container">
    <div class="content-flex">
      <div class="mmpf-image-placeholder"></div>
      <div class="mmpf-info-box">
        <div class="mmpf-i-b-description">
          <div th:text="${title}" class="mmpf-desc-title">Test</div>
          <div th:text="${item.description}" class="mmpf-desc-desc">das ist nur ein Test</div>
          <div th:text="'Vorrat: ' + ${quantity}" class="mmpf-desc-amount">Vorrat: 10</div>
      </div>
      <form method="post" class="form-inline" th:action="@{/cart}">
        <div>
          <input type="hidden" name="pid" th:value="${item.id}" />
          <input type="number" class="form-control" id="mmpf-s-amount" name="number" value="1" min="1" max="10000" placeholder="Anzahl">
        </div>
        <button type="submit" class="btn btn-primary mampf-s-add">Zum Warenkorb hinzufügen</button>
      </form>
    </div>
  </div> 
-->
</body>

</html>