<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <div th:replace="fragments/head :: styles"></div>
  <div th:replace="fragments/head :: scripts"></div>
  <div th:replace="fragments/head :: meta('Mitarbeiter')"></div>
</head>

<body>
  <nav th:include="navigation-new :: navigation"></nav>
  <div class="m-content">
    <div class="container pb-5">
      <header>
        <h1>Mitarbeiter - Übersicht</h1>
        <!-- <h3 th:text="#{${employees}}">Employee</h3> -->
      </header>

      <div th:replace="fragments/search::search(@{/intern/employees}, @{/intern/employees}, ${filter})"></div>

      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Rolle</th>
            <th>Gebucht</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="employee: ${employees}">
            <td th:text="${employee.name}">Elisa Schloss</td>
            <td th:text="${T(mampf.employee.Employee).roleTranslations.get(employee.role.toString())}">Rolle</td>
            <td>
              <ul>
                <li th:each="date : ${employee.booked}"><a th:href="'/orders/detail/' + ${date.id}" th:text="${date.id}">Bestellung</a></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-outline-primary cont" >
        <a th:href="'/intern/employees/add'" th:text="#{employee.add}">
          Köche/Service hinzufügen
        </a>
      </button>
    </div>
  </div>
</body>

</html>