<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <div th:replace="fragments/head :: styles"></div>
  <div th:replace="fragments/head :: scripts"></div>
  <div th:replace="fragments/head :: meta('Mitarbeiter')"></div>
</head>

<body>
  <nav th:include="navigation-new :: navigation"></nav>
  <div class="m-content">
    <div class="container pb-5">
      <header>
        <h1>Mitarbeiter - Übersicht</h1>
        <!-- <h3 th:text="#{${employees}}">Employee</h3> -->
      </header>

      <div th:replace="fragments/search::search(@{/intern/employees}, @{/intern/employees}, ${filter})"></div>

      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Rolle</th>
            <th>Gebucht</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="employee: ${employees}">
            <td th:text="${employee.name}">Elisa Schloss</td>
            <td th:text="${T(mampf.employee.Employee).roleTranslations.get(employee.role.toString())}">Rolle</td>
            <td>
              <ul>
                <li th:each="date : ${employee.booked}"><a th:href="'/orders/detail/' + ${date.id}" th:text="${date.id}">Bestellung</a></li>
              </ul>
            </td>
            <td>
              <button class="btn btn-outline-primary cont" >
                <a th:href="'/intern/employees/' + ${employee.id}">
                  Bearbeiten
                </a>
              </button>
            </td>
            <td>
              <button class="btn btn-outline-primary cont" title="Fire" data-toggle="modal" th:data-target="'#exampleModalCenter' + ${employee.id}">
                  Entfernen
              </button>

              <div class="modal fade" th:id="'exampleModalCenter' + ${employee.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Mitarbeiter Kündigen</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Sind Sie sicher, dass Sie den Mitarbeiter entfernen wollen?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal">
                        <i class="fas fa-arrow-left"></i> Schließen
                      </button>
                      <a th:href="'/intern/employees/deleteEmployee/' + ${employee.id}">
                        <button type="button" class="btn btn-danger">
                          <i class="fas fa-exclamation"></i> Entfernen
                        </button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-outline-primary cont" >
        <a th:href="'/intern/employees/add'" th:text="#{employee.add}">
          Köche/Service hinzufügen
        </a>
      </button>
    </div>
  </div>
</body>

</html>