<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments/head :: styles"></div>
    <div th:replace="fragments/head :: scripts"></div>
    <div th:replace="fragments/head :: meta('Mitarbeiter bearbeiten')"></div>
</head>
<body>
  <nav th:include="navigation-new :: navigation"></nav>
    <div class="m-content">
      <div class="container pb-5">
        <header>
            <h1>Mitarbeiter - Bearbeiten</h1>
        </header>
        <form class="ui form" th:action="'/intern/employees/' + ${employee.id}" method="post" th:object="${form}">

          <div class="form-group">
              <label for="firstName" th:text="#{employee.first_name}">Vorname</label>
              <input class="form-control" required="required"
                   type="text" id="firstName" name="firstName" autofocus="autofocus" th:field="*{firstName}"/>
          </div>
          <br>
          <div class="form-group">
              <label for="lastName" th:text="#{employee.last_name}">Nachname</label>
              <input class="form-control" required="required"
                   type="text" id="lastName" name="lastName" autofocus="autofocus" th:field="*{lastName}"/>
          </div>
          <br>
          <button class="btn btn-outline-primary cont" type="submit">
              Mitarbeiter bearbeiten
          </button>
        </form>
      </div>
    </div>
</body>
</html>