<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <div th:replace="fragments/head :: styles"></div>
    <div th:replace="fragments/head :: scripts"></div>
    <div th:replace="fragments/head :: meta(#{inventory.title})"></div>
</head>

<body>
<nav th:include="navigation-new :: navigation"></nav>
<div class="m-content">
    <div class="container pb-5">
        <header>
            <style>
                a {
                    color: #495057;
                }
            </style>
            <h1 th:text="#{inventory.title}">Bestand</h1>
        </header>
        <form class="form reorder" method="get" th:action="@{inventory}">
            <button type="submit" class="btn btn-outline-primary float-right cont"
                    th:text="#{inventory.back}">back
            </button>
        </form>
        <form class="form reorder" method="get" th:action="@{/inventory/filter}">
            <label for="word"></label>
            <input style="position:relative; left: -5px;" class="form-control w-25 float-right" type="search" id="word"
                   name="word" placeholder="Suche...">

                <label for="type"></label>
                <select class="form-control float-right" style="position:relative; left: -12px; width: 110px" id="type"
                        th:value="name" name="type">
                    <option value="name">Name</option>
                    <option value="category">Kategorie</option>
                    <option value="amount">Anzahl</option>
                </select>
        </form>

        <table class="table table-hover" style="position: relative; top: 10px">
            <thead class="thead-light">
            <tr>
                <th><a th:text="#{inventory.name}" th:href="@{/inventory/name}" class="text-left col-6"
                       style="width: 30%">Bestand</a></th>
                <th><a th:text="#{inventory.category}" th:href="@{/inventory/category}" class="text-left col-6"
                       style="width: 20%">Category</a></th>
                <th><a th:text="#{inventory.count.now}" th:href="@{/inventory/amount}" class="text-left col-6"
                       style="width: 20%">aktueller Stand</a></th>
                <th th:text="#{inventory.add}" class="text-right col-6" style="width: 30%">Aktionen</th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first">
            <tr th:each="pair : ${names}">
                <td th:text="${pair.getFirst().getProduct().getName()}" class="text-left">name</td>
                <td th:text="${pair.getSecond()}" class="text-left">category</td>
                <td th:text="#{inventory.infinity}"
                    th:if="${T(mampf.Util).infinity.contains(pair.getFirst().getCategory())}"
                    class="text-left">quantity
                </td>

                <td th:text="${{pair.getFirst().getQuantity()}}"
                    th:if="!${T(mampf.Util).infinity.contains(pair.getFirst().getCategory())}"
                    class="text-left">quantity
                </td>


                <td>
                    <form class="form reorder" method="post" th:action="@{/inventory/add}">
                        <input type="hidden" name="item" value="0" th:value="${pair.getFirst().getProduct().getId()}"/>

                        <button type="submit" name="negate" th:value="incr"
                                class="btn btn-outline-primary float-right cont" th:method="delete"
                                th:if="!${T(mampf.Util).infinity.contains(pair.getFirst().getCategory())}"
                                text="+">+
                        </button>
                        <button name="negate" th:value="decr" style="position:relative; left: -5px;" type="submit"
                                class="btn btn-outline-primary float-right cont" th:method="delete"
                                th:if="!${T(mampf.Util).infinity.contains(pair.getFirst().getCategory())}"
                                text="-">-
                        </button>

                        <div class="field">
                            <label for="number1"></label>
                            <input style="position:relative; left: -10px;" class="form-control w-25 float-right "
                                   th:if="!${T(mampf.Util).infinity.contains(pair.getFirst().getCategory())}"
                                   id="number1" type="number"
                                   name="number" min="1" max="10000" value="1"/><br/>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>