<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/head :: styles"></div>
  <div th:replace="fragments/head :: scripts"></div>
  <div th:replace="fragments/head :: meta('Login - Mampf')"></div>
</head>
<body>
<nav th:include="navigation-new :: navigation"></nav>
<div class="container m-section-padding">
    <header>
        <div class="m-heading m-heading-big m-font-aquiline">Mampf</div>
    </header>

    <section class="m-text-padding pt-5 pb-3 container w-50 shadow mb-4">
        <div class="d-block">
            <form class="form d-table w-100" role="form" th:action="@{/login}" method="post">

                <div class="form-group m-text">
                    <label for="username">Benutzername:</label>
                    <input type="text" id="username" name="username" th:classappend="${param.error} ? 'is-invalid' : ''" class="form-control m-text" autofocus="autofocus"/>
                    <div class="invalid-feedback" th:if="${param.error}" th:text="#{login.failure}">

                    </div>
                </div>

                <div class="form-group m-text">
                    <label for="password" >Passwort:</label>
                    <input type="password" id="password" name="password" class="form-control m-text"/> <br/>
                </div>

                <button type="submit"  class="btn m-btn-outlined float-right">Login</button>
            </form>
        </div>

    </section>
</div>

</body>
</html>