<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
        <title>Mobile Breakfast</title>
    </head>

    <header>
        <h2>Cateringservice</h2>
        <h1 style="text-align: center">MAMPF</h1>
    </header>

    <body>
        <div class="texts">
            <br>
            <div class="coupon">
                <span> Mobile Breakfast wählen:</span>
                <span style="float: right"> Mobile Breakfast buchen: </span>
                <br> <br>
                <span class="input_coupon"> Ihr Coupon </span>
                <input type="text">
                <button> auswählen </button>
                <button style="float: right"> auswählen </button>
            </div>
        </div>
    </body>
</html>