<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/head :: styles"></div>
  <div th:replace="fragments/head :: scripts"></div>
  <div th:replace="fragments/head :: meta(${domainTitle})"></div>
</head>
<body>
  <nav th:include="navigation-new :: navigation"></nav>
  <div class="m-content">
    <form th:action="@{/cart/add/mobile-breakfast}" method="post">
      <section class="m-section-padding m-colored-primary m-centered">
        <div th:text="${domainTitle}" class="m-heading-huge m-font-aquiline">Domäne</div>
      </section>
      <div class="m-container-small">
        <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
      </div>
      <section>
        <div class="m-container-small">
          <div class="mmpf-category-wrapper" th:each="category : ${categories}">
            <div class="m-heading m-heading-big m-centered m-no-border m-padding-bottom  m-font-aquiline"
              th:text="${category.key}">Kategorie</div>
            <th:block th:each="item : ${category.value}">
              <div th:replace="fragments/cards::breakfast(${item})"></div>
            </th:block>
          </div>
          <div class="mmpf-category-wrapper">
            <div class="m-heading m-heading-big m-centered m-no-border m-padding-bottom  m-font-aquiline"
              th:text="Liefertage">Liefertage</div>
            <th:block th:each="day : ${days}">
              <!-- checkbox(id, name, label, value) -->
              <div th:replace="fragments/cards::checkbox(${day.getValue()}, ${day.getValue()}, ${day.getFullName()}, ${day.getValue()})"></div>
            </th:block>
          </div>
          <!-- <div class="mmpf-category-wrapper">
            <div class="m-heading m-heading-big m-centered m-no-border m-padding-bottom  m-font-aquiline"
                th:text="Zeitraum">Zeitraum</div>
            <div class="mmpf-mb-timetable mmpf-mb-time">
              <label for="time">Wählen sie eine Zeit aus, wann ihr Frühstück geliefert werden soll.</label>
              <input type="time" id="time" name="time" min="07:00" max="14:00" required>
              <small>Von 7 bis 14 Uhr</small>
            </div>
          </div> -->
          <div class="mmpf-category-wrapper">
            <button type="submit" class="m-centered btn btn-primary btn-lg">Bestellen</button>
          </div>
        </div>
      </section>
    </form>
  </div>
  <div class="m-content"></div>
</body>
</html>