<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>

<div th:fragment="navigation">
    <div class="m-nav">
      <div class="m-brand m-font-aquiline"><a th:href="@{/}" class="m-nav-link">M</a></div>
      <ul class="m-nav-main">
        <div class="m-nav-with-submenu">
          <a class="m-nav-link" th:href="@{/catalog}">
            <li>Catalog</li>
          </a>
          <div class="m-nav-submenu">
            <div class="m-text"> | </div>
            <a class="m-nav-link" th:href="@{/catalog/eventcatering}">
              <li>Eventcatering</li>
            </a>
            <a class="m-nav-link" th:href="@{/catalog/partyservice}">
              <li>Party-Service</li>
            </a>
            <a class="m-nav-link" th:href="@{/catalog/mobile-breakfast}">
              <li>Mobile-Breakfast</li>
            </a>
            <a class="m-nav-link" th:href="@{/catalog/rent-a-cook}">
              <li>Rent-A-Cook</li>
            </a>
          </div>
        </div>
        <a class="m-nav-link" th:href="@{/cart}">
          <li>Warenkorb</li>
        </a>
        <a class="m-nav-link" sec:authorize="!hasRole('BOSS')" th:href="@{/userOrders}">
          <li>Bestellungen</li>
        </a>
        <a class="m-nav-link" sec:authorize="hasRole('BOSS')" th:href="@{/orders}">
          <li>Bestellungen</li>
        </a>
        <a sec:authorize="hasRole('BOSS')" class="m-nav-link" th:href="@{/inventory/name}">
          <li>Lager</li>
        </a>
        <a sec:authorize="hasRole('BOSS')" class="m-nav-link" th:href="@{/users}">
          <li>Kundenliste</li>
        </a>
        <a sec:authorize="hasRole('BOSS')" class="m-nav-link" th:href="@{/intern/employees}">
          <li>Mitarbeiter</li>
        </a>
      </ul>

      <ul>
        <a class="m-nav-link" th:href="@{/userDetails/}" >
          <li>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            </svg>
            Profil
          </li>
        </a>
        <a class="m-nav-link" href="/register" sec:authorize="!isAuthenticated()">
          <li>Registrieren</li>
        </a>
        <a class="btn m-btn-outlined" th:href="@{/login}" sec:authorize="!isAuthenticated()">
          <li>Login</li>
        </a>
        <form class="form-inline" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
          <button type="submit" class="btn m-btn btn-secondary">Logout</button>
        </form>

      </ul>
    </div>
</div>
</body>
</html>