<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <div th:replace="fragments/head :: styles"></div>
  <div th:replace="fragments/head :: scripts"></div>
  <div th:replace="fragments/head :: meta('Bestellungen')"></div>
</head>

<body>
  <nav th:include="navigation-new :: navigation"></nav>

  <div class="m-content">
    <section class="m-colored-primary">
      <div class="m-container m-centered">
        <div class="m-heading m-no-border">
          Ihre Bestellungen
        </div>
      </div>
    </section>
    <section>
      <div class="m-container-small">
        <th:block th:each=" orders : ${stuff}">
          <th:block th:each="order : ${orders.value}">
            <div th:replace="fragments/cards::orders(${order}, ${order.getOrderStatus().name()}, ${order.id})"></div>
          </th:block>
        </th:block>
      </div>
    </section>
  </div>
  <div class="m-content"></div>
</body>

</html>