<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="fragments/head :: styles"></div>
    <div th:replace="fragments/head :: scripts"></div>
    <div th:replace="fragments/head :: meta('Bestelldetails')"></div>
</head>

<body>
<nav th:include="navigation-new :: navigation"></nav>

<div class="m-content">
  <section class="m-colored-primary">
    <div class="m-container m-centered">
      <div class="m-heading m-no-border" th:text="${order}">
        Ihre Bestellungen
      </div>
    </div>
  </section>
  <section>
    
  </section>
</div>

<div class="container pb-5">
    <h3 th:text="${order}">name</h3>
    
    <div class="content">
      <b>id: </b>
      <div th:text="${order.id}"></div>
      <b>Beschreibung:</b>
      <div th:text="${order.getDescription()}"></div>
      <b>Konto: </b>
      <div th:text="${order.userAccount}"></div>
      <b>Zahlmethode: </b>
      <div th:text="${order.payMethod}"></div>
      <b>Status: </b>
      <div th:text="${order.orderStatus}"></div>
      <b>Erstellungszeit: </b>
      <div th:text="${order.dateCreated}"></div>
      <b>Startzeit:</b>
      <div th:text="${order.startDate}"></div>
      <b>Ort:</b>
      <div th:text="${order.adress}"></div>
      <b>Endzeit:</b>
      <div th:text="${order.getEndDate()}"></div>
      
      <br/>
      
      <table th:if="${!order.getEmployees().isEmpty()}" class="ui table">
        <thead class="thead-light">
          <tr>
            <th>Employee</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="employee : ${order.getEmployees()}">
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.role}"></td>
          </tr>
        </tbody>
      </table>
      
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th>ProduktName</th>
            <th>Anzahl pro Stunde</th>
            <th>Preis pro Stunde</th>
			<th>Preis gesamt</th>
          </tr>
        </thead> 
        <tbody th:unless="${isMB}">
          <tr th:each="item : ${order.getItems()}">
            <td th:text="${item.key.productName}"></td>
            <td th:text="${item.key.quantity}"></td>
            <td th:text="${{item.key.price}}"></td>
			<td th:text="${{item.value}}"></td>
		  </tr>
          <tr>
          	<td><b>Gesamtpreis</b></td>
          	<td></td>
			<td></td>
          	<td><b th:text="${{order.total}}"></b></td>
          </tr>
        </tbody>
		<tbody th:if="${isMB}">
          <tr th:each="item : ${order.getOrderLines()}">
            <td th:text="${item.productName}"></td>
            <td th:text="${item.quantity}"></td>
            <td> - </td>
			<td> - </td>
		  </tr>
          <tr>
          	<td><b>Gesamtpreis</b></td>
          	<td></td>
			<td></td>
          	<td><b th:text="${{order.total}}"></b></td>
          </tr>
        </tbody>
      </table>
    </div>
	
	<form sec:authorize="hasRole('BOSS')" th:method="get" th:action="@{/orders/delete/{id}(id=${order.getId().getIdentifier()})}">
	<button type="submit" class="btn btn-outline-primary">Bestellung löschen</button>
	</form>
  </div>
</body>

</html>