<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="icon" type="image/vnd.microsoft.icon" th:href="@{/resources/img/World_sm_or.ico}">
  <script th:src="@{/webjars/jquery/jquery.min.js}" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
    src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" type="text/css" />
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
  <title th:text="'MAMPF: ' + ${domainTitle}">Bestellung</title>
</head>

<body>
  <div class="root">
    <h2 th:text="${order}">Id</h2>
    <div class="content">
      <b>id: </b>
      <div th:text="${order.id}"></div>
      <b>Useraccount: </b>
      <div th:text="${order.userAccount}"></div>
      <b>Payment: </b>
      <div th:text="${order.payMethod}"></div>
      <b>Status: </b>
      <div th:text="${order.orderStatus}"></div>
      <b>CreationDate: </b>
      <div th:text="${order.dateCreated}"></div>
      <br>
      <b>Date: </b>
      <div th:text="${order.date}"></div>
      <table th:if="${!employees.isEmpty()}" class="ui table">
        <thead>
          <tr>
            <th>Employee</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="employee : ${employees}">
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.role}"></td>
          </tr>
        </tbody>
      </table>

      <table class="ui table">
        <thead>
          <tr>
            <th>ProduktName</th>
            <th>Anzahl</th>
            <th>Preis</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="orderLine : ${orderLines}">
            <td th:text="${orderLine.productName}"></td>
            <td th:text="${orderLine.quantity}"></td>
            <td th:text="${orderLine.price}"></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td th:text="${order.total}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>