<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: styles"></div>
    <div th:replace="fragments/head :: scripts"></div>
    <div th:replace="fragments/head :: meta('Registrierung')"></div>
</head>
<body>
<nav th:include="navigation-new :: navigation"></nav>
<div class="container pb-5 m-section-padding">
    <form class="form" role="form" th:action="@{/register}" method="post" th:object="${form}">

        <div class="form-group">
            <label for="username" th:text="#{register.username}">Username</label>
            <input class="form-control" th:classappend="${#fields.hasErrors('username')} ? 'is-invalid' : ''"
                   type="text" id="username" name="username" autofocus="autofocus" th:field="*{username}"/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">

            </div>
        </div>

        <div class="form-group">
            <label for="email" th:text="#{register.email}">E-Mail-Adresse</label>
            <input class="form-control" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
                   type="text" id="email" name="email" th:field="*{email}"/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">

            </div>
        </div>

        <div class="form-group">
            <label for="firstname" th:text="#{register.firstname}">Firstname</label>
            <input class="form-control" th:classappend="${#fields.hasErrors('firstname')} ? 'is-invalid' : ''"
                   type="text" id="firstname" name="firstname" autofocus="autofocus" th:field="*{firstname}"/>

            <div class="invalid-feedback" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">

            </div>
        </div>

        <div class="form-group">
            <label for="lastname" th:text="#{register.lastname}">Lastname</label>
            <input class="form-control" th:classappend="${#fields.hasErrors('lastname')} ? 'is-invalid' : ''"
                   type="text" id="lastname" name="lastname" autofocus="autofocus" th:field="*{lastname}"/>

            <div class="invalid-feedback" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">

            </div>
        </div>

        <div class="form-group">
            <label for="password" th:text="#{register.password}">Password</label>
            <input class="form-control" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''"
                   type="password" id="password" name="password" aria-describedby="passwordHelpBlock"/>

            <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">

            </div>
            <small id="passwordHelpBlock" class="form-text text-muted" th:text="#{register.password.hint}">
                Your password must be 5-20 characters long.
            </small>
        </div>

        <div class="form-group">
            <label for="password">Adresse</label>
            <input class="form-control" th:classappend="${#fields.hasErrors('address')} ? 'is-invalid' : ''"
                   type="text" id="address" name="address" th:field="*{address}"/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">

            </div>
        </div>

        <div class="form-group">
            <label for="role">Typ des Benutzerzugangs</label>
            <select class="form-control" id="role" name="role" th:field="*{role}">
                <option value="INDIVIDUAL" th:text="#{register.individuell}">INDIVIDUAL</option>
                <option value="EMPLOYEE" th:text="#{register.employee}">EMPLOYEE</option>
                <option value="COMPANY" th:text="#{register.company}">COMPANY</option>
            </select>
        </div>

        <div id="companyNameGroup" class="form-group">
            <label for="companyName" th:text="#{register.companyname}">Name der Firma</label>
            <input class="form-control" th:classappend="${#fields.hasErrors('companyName')} ? 'is-invalid' : ''"
                   type="text" id="companyName" name="companyName" th:field="*{companyName}"/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}">

            </div>
        </div>

        <div id="accessCodeGroup" class="form-group">
            <label for="accessCode" th:text="#{register.accessCode}">AccessCode</label>
            <input class="form-control" th:classappend="${#fields.hasErrors('accessCode')} ? 'is-invalid' : ''"
                   type="text" id="accessCode" name="accessCode" minlength="6" maxlength="6" th:field="*{accessCode}"/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('accessCode')}" th:errors="*{accessCode}">

            </div>
        </div>

        <button type="submit" class="btn btn-outline-primary float-right">Konto erstellen</button>
    </form>
</div>
<script type="application/javascript">
$(function() {
    function changeDisplayOfRoleDependingInput() {
        switch ($('#role').val()) {
            case "EMPLOYEE":
                $('#companyNameGroup').css('display', 'none');
                $('#accessCodeGroup').css('display', 'block');
                break;
            case "COMPANY":
                $('#companyNameGroup').css('display', 'block');
                $('#accessCodeGroup').css('display', 'none');
                break;
            default:
                $('#companyNameGroup').css('display', 'none');
                $('#accessCodeGroup').css('display', 'none');
        }
    }
    $('#role').change(changeDisplayOfRoleDependingInput);
    changeDisplayOfRoleDependingInput();

})
</script>

</body>
</html>