<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments/head :: styles"></div>
    <div th:replace="fragments/head :: scripts"></div>
    <div th:replace="fragments/head :: meta('Umsatz - Mampf')"></div>
</head>

<body>
<nav th:include="navigation-new :: navigation"></nav>
<div class="container pt-5">
    <header>
        <style>
            a {
                color: #495057;
            }
        </style>
        <h1 th:text="#{revenue.title}">Umsatz</h1>
    </header>
    <p>
        Die Umsätze werden nach dem Erstellungsdatum angezeigt, nicht nach dem Datum, an dem sie stattfinden.
    </p>
    <form th:action="@{/revenue}" method="get" class="form-inline mr-2 mb-3">
        <label for="startDate" class="my-1 mr-2">Startdatum</label>
        <input id="startDate" class="my-1 mr-2 form-control" type="date" name="startDateString" th:value="${startDateString}">
        <label for="endDate" class="my-1 mr-2">Enddatum</label>
        <input id="endDate" class="form-control my-1 mr-2" type="date" name="endDateString" th:value="${endDateString}">
        <input type="submit" value="Filtern" class="form-control btn btn-outline-primary">
    </form>

    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Kategorie</th>
            <th>Preis pro Stück</th>
            <th>Anzahl</th>
            <th>Preis gesamt</th>
        </tr>
        </thead>
        <tbody th:remove="all-but-first">
        <tr th:each="gain : ${gains}">

            <td th:text="${gain.key.getName()}"></td>
            <td th:text="${T(mampf.catalog.Item).categoryTranslations.get(gain.key.getCategory().toString())}"></td>
            <td th:text="${gain.key.getPrice()}" class="text-left">name</td>
            <td th:text="${{gain.value.first}}" class="text-left">quantity</td>
            <td th:text="${{gain.value.second.multiply(gain.value.first.getAmount())}}" class="text-left">quantity</td>
        </tr>
        </tbody>
    </table>
    <div>
        <b>Gesamtsumme: <span th:text="${{total}}"></span></b>
    </div>
</div>
</body>
</html>