<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/head :: styles"></div>
    <div th:replace="fragments/head :: scripts"></div>
    <div th:replace="fragments/head :: meta('Kundenliste')"></div>
</head>

<body>
<nav th:include="navigation-new :: navigation"></nav>
<div class="m-content">
    <div class="container">
        <header>
            <h1>Kundenliste</h1>
        </header>

      <div th:replace="fragments/search::search(@{/users}, @{/users}, ${filter})"></div>

        <table class="table table-hover" th:if="${pairs.size() > 0}">
            <thead class="thead-light">
            <tr>
                <th>Benutzername</th>
                <th>Name</th>
                <th>E-Mail</th>
                <th>Rolle</th>
                <th>AccessCode</th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first">
            <tr th:each=" pair : ${pairs}">
                <td>
                    <a class="nav-link form-inline" th:href="@{/userDetailsAsBoss/{id}(id=${pair.getFirst().id})}">
                        <button type="submit" class="btn btn-link">
                            <i class="far fa-user"></i>
                            <span th:text="${pair.getFirst().getUserAccount().getUsername()}"></span>
                        </button>
                    </a>
                </td>
                <td class="align-middle"
                    th:text="${pair.getFirst().getUserAccount().getFirstname() + ' '+ pair.getFirst().getUserAccount().lastname }"></td>
                <td class="align-middle" th:text="${pair.getFirst().getUserAccount().email }"></td>
                <td class="align-middle" th:text="${pair.getSecond()}">[EMPLOYEE]</td>
                <td class="align-middle" th:if="${pair.getFirst().getCompany().isPresent()}"
                    th:text="${pair.getFirst().getCompany().get().accessCode}">aabbcc
                </td>
                <td class="align-middle" th:if="${pair.getFirst().company.isEmpty()}">--</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>