<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <div th:replace="fragments/head :: styles"></div>
  <div th:replace="fragments/head :: scripts"></div>
  <div th:replace="fragments/head :: meta('Kundendetails')"></div>
</head>

<body>
  <nav th:include="navigation-new :: navigation"></nav>
  <div class="m-content">
    <section class="m-colored-primary">
      <div class="m-container m-centered">
        <div class="m-heading m-no-border">
          Ihr Profil
        </div>
      </div>
    </section>

    <section>
      <div class="m-padding-bottom m-card-section">
        <div class="m-container-small">
          <h2 class="m-padding-bottom">Personliche Informationen</h2>
          <div>
            <div class="m-card shadow p-3">
              <table class="table">
                <tr>
                  <td>Nutzername</td>
                  <td th:text="${user.userAccount.username}">user</td>
                </tr>
                <tr>
                  <td>E-Mail</td>
                  <td th:text="${user.userAccount.email}">user</td>
                </tr>
                <tr>
                  <td>Vorname</td>
                  <td th:text="${user.userAccount.firstname}">user</td>
                </tr>
                <tr>
                  <td>Nachname</td>
                  <td th:text="${user.userAccount.lastname}">user</td>
                </tr>
                <tr>
                  <td>Adresse</td>
                  <td th:text="${user.address}">user</td>
                </tr>
                <tr>
                  <td>gelöschter Nutzer</td>
                  <td>
            <span th:if="${user.userAccount.isEnabled()}">
              nein
            </span>
                    <span th:if="!${user.userAccount.isEnabled()}">
              ja
            </span>
                    <form th:if="${user.userAccount.isEnabled() && !user.userAccount.hasRole('BOSS')}" method="post"
                          th:action="@{/deleteUser/}" sec:authorize="hasRole('BOSS')">
                      <input type="hidden" name="userId" th:value="${user.id}">
                      <button type="submit" class="btn btn-link">
                        <i class="far fa-trash-alt"></i>
                        Löschen
                      </button>
                    </form>
                  </td>
                </tr>
                <tr>
                  <td>Rolle</td>
                  <td th:text="${user.userAccount.roles.toList().get(0)}">user</td>
                </tr>
                <tr th:if="${user.userAccount.hasRole('COMPANY')}">
                  <td>Firmenname</td>
                  <td th:text="${user.company.get().getName()}">user</td>
                </tr>
                <tr th:if="${user.userAccount.hasRole('COMPANY')}">
                  <td>Gebuchtes Frühstück</td>
                  <td>
                    <form th:if="${user.company.get().canBookNewBreakfast()}" method="get" th:action="@{/bookBreakfast}">
                      <button type="submit" th:text="'mobile breakfast ab: '+${user.company.get().getNextBreakfastDate()}+' buchen'"class="btn btn-primary"> für den aktuellen/nächsten Monat buchen</button>
                    </form>
                    <span th:unless="${user.company.get().canBookNewBreakfast()}" th:text="${'aktueller Buchungstermin: '+user.company.get().getBreakfastDate().get()+'  bis zum: '+user.company.get().getBreakfastEndDate().get()}"> </span>
                  </td>
                </tr>
                <tr th:if="${user.userAccount.hasRole('COMPANY')}">
                  <td>Zugriffscode</td>
                  <td th:text="${user.company.get().accessCode}">user</td>
                </tr>
                <tr th:if="${user.userAccount.hasRole('COMPANY')}">
                  <td>Mitarbeiter</td>
                  <td>
                    <div th:each="employee : ${user.getCompany().get().getEmployees()}">
                      <div sec:authorize="!hasRole('BOSS')">
                        <i class="far fa-user"></i>
                        <span th:text="${employee.getUserAccount().getUsername()}"></span>
                      </div>
                      <a class="nav-link form-inline" th:href="@{/userDetailsAsBoss/{id}(id=${employee.getId()})}"
                         sec:authorize="hasRole('BOSS')">
                        <button type="submit" class="btn btn-link">
                          <i class="far fa-user"></i>
                          <span th:text="${employee.getUserAccount().getUsername()}"></span>
                        </button>
                      </a>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="m-card-section" sec:authorize="!hasRole('BOSS')">
        <div class="m-container-small">
          <h2 class="m-padding-bottom">Passwort ändern</h2>
          <div>
            <div class="m-card shadow p-3">
              <form method="post" th:action="@{/change_password/}" role="form" th:object="${form}">
                <div class="form-group">
                  <label for="password" th:text="#{register.password}">Password</label>
                  <input class="form-control" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''"
                         type="text" id="password" name="password" autofocus="autofocus" th:field="*{password}"/>
                  <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">

                  </div>
                </div>
                <div class="form-group">
                  <label for="confirmPassword" th:text="#{register.confirmPassword}">confirm Password</label>
                  <input class="form-control" th:classappend="${#fields.hasErrors('confirmPassword')} ? 'is-invalid' : ''"
                         type="text" id="confirmPassword" name="confirmPassword" autofocus="autofocus" th:field="*{confirmPassword}"/>
                  <div class="invalid-feedback" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">

                  </div>
                </div>
                <input type="submit" class="btn btn-primary float-right">
              </form>
            </div>

          </div>

        </div>
      </div>

    </section>

  </div>
</body>

</html>